DATABASE_CONNECTION_STRING=Host=localhost;Port=5432;Database=sportreplay;Username=sportreplay;Password=sportreplay_dev
CORS_ALLOWED_ORIGINS=http://localhost:5173
JWT_SECRET=sportreplay-dev-jwt-secret-key-change-me-32
JWT_ISSUER=SportReplay
JWT_AUDIENCE=SportReplay

MERCADOPAGO_ACCESS_TOKEN=APP_USR-8097732303947566-090317-fce080e34696b74626088962a9c81e11-2068976786
MERCADOPAGO_WEBHOOK_SECRET=50f61d96b0227d184323b8a223b353151430a882d6e05683eba539ad60bdf410
MERCADOPAGO_PUBLIC_KEY=APP_USR-06b8cfe3-2ba0-4646-bf25-4c5e20858db7

WHATSAPP_ACCESS_TOKEN=EAAkwfwpGZBEwBSQfRMeKqEdMBjxOZAUYJHFobdOxZAxNIAfYZCEO4h6XKs6uo5xpW7zTJsUih76fWGqX3RiS9LiAZAk8ZBF538Kgq4hHMQd8K8DP53lHMqbHLZBrXmudBaH5wgK0W3Vij98zFDJyQ2DgiXQkU394hZBEab3qldZCoFYad9acIlXghPazZBnVc4EbeaGtMLZB7oQ8dsFoc37dYYYk12xEbGcCvpBps9NslySWCRn8AJZAVk2LH4xWxVZAqxZCyVvRHyyiPf0xzvOruhNkpp
WHATSAPP_PHONE_NUMBER_ID=1238525939353372
WHATSAPP_BUSINESS_ACCOUNT_ID=926377053366154
WHATSAPP_API_VERSION=v21.0

STORAGE_ENDPOINT=localhost:9000
STORAGE_ACCESS_KEY=minioadmin
STORAGE_SECRET_KEY=minioadmin
STORAGE_BUCKET=sportreplay-videos

VIDEO_RETENTION_DAYS=7
MAX_CLIP_DURATION_SECONDS=60
